// @variables

.button-icon-white {
  background: brand-color(white);
  font-size: font-sizes(3);
  padding: 3px 4px 4px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: inline-block;
  line-height: 100%;

  &:hover, &:active, &:focus {
    text-decoration: $link-decoration;
    outline: none;
  }

  i {
    color: brand-color(gray-light);
  }
}


.button-primary {
  background: brand-color(green-darker);
  border-radius: $border-radius;
  color: brand-color(white);
  padding: $spacing-tiny;
  font-weight: font-weight(bold);

  &:hover, &:active, &:focus {
    background: brand-color(primary);
    text-decoration: $link-decoration;
    outline: none;
    color: brand-color(white);
  }

  i {
    color: inherit;
  }
}

.button-md-primary {
	border-radius: $border-radius;
	background-color: brand-color(green-lightest);
	color: brand-color(body);
	font-size: font-sizes(5);
	float: right;
	padding: $spacing-tiny $spacing-half;

	&:hover {
		color: brand-color(body);
		text-decoration: none;
	}
}

.button-secondary {
  background-color: brand-color(secondary);
  border-radius: $border-radius;
  color: brand-color(body);
  padding: 4px 14px;

  &:hover, &:active, &:focus {
    color: brand-color(body);
  }
}

.error-field {
  border: $border-width solid #d35400;
}

.button--block {
  display: block;
  font-weight: font-weight(normal);
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.button-white {
  border-radius: $border-radius;
  border: 1px solid brand-color(green-darker);
  color: brand-color(green-darker);
  text-align: center;

  &:hover, &:active, &:focus {
    border-color: brand-color(primary);
    color: brand-color(primary);
    text-decoration: $link-decoration;
    outline: none;
  }
}

.button-tertiary {
  background-color: #c1a36f;
  border-radius: 2px;
  color: #fff;
  padding: 2px 14px;
  display: inline-block;
}

.button--disabled {
  background-color: brand-color(gray-light);
  color: brand-color(white);
  cursor: not-allowed;

  &:hover, &:active, &:focus {
    background-color: brand-color(gray-light);
    color: brand-color(white);
  }
}
